@model List<CitasApp.Domain.Models.Cita>

<h1>Agenda completa de citas</h1>

<div style="margin-bottom: 20px;">
    <a href="/Paciente" class="btn btn-primary">Pacientes</a>
    <a href="/Medico" class="btn btn-success">Médicos</a>
    <a href="/Cita" class="btn btn-warning">Citas</a>
</div>
<a href="/Cita/Crear" class="btn btn-success mb-3">
    Crear cita
</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>PacienteId</th>
            <th>MedicoId</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Motivo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cita in Model)
        {
            <tr>
                <td>@cita.Id</td>
                <td>@cita.PacienteId</td>
                <td>@cita.MedicoId</td>
                <td>@cita.Fecha</td>
                <td>@cita.Hora</td>
                <td>@cita.Motivo</td>
                <td>@cita.Estado</td>
                <td>
                    <a asp-action="Detalle" asp-route-id="@cita.Id" class="btn btn-info btn-sm">
                        Ver
                    </a>
                    <a asp-action="Editar" asp-route-id="@cita.Id" class="btn btn-primary btn-sm">
                        Editar
                    </a>
                    <form asp-action="Eliminar" asp-route-id="@cita.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar esta cita?');">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
